.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-column {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex-grow: 1;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#func {
    font-size: 24px;
}

.webgl-canvas {
    width: 500px;
    height: 500px;
    background-color: white;
}

body {
    background-color: darkslateblue;
    color: white;
    font-family: sans-serif;
}

canvas {
    width: 500px;
    height: 500px;
    background-color: white;
}
